.header {
    padding: 192px,24px;
}

.header__logo {
    justify-content: space-around;
    display:flex;
}

.logo__img {
    width: 50px;
    height: 74px;
}

.header__top {
    display:flex;
    justify-content:space-around;
    font-family: formular;
}

.header__paragraph {
    font-size:24px;
    font-style:normal;
    font-weight:900;
    line-height:32px;
}

.header__info {
    display:flex;
    justify-content:space-around;
    gap:10px;
}

.info__extra {
    line-height:1px;
    justify-content: space-around;
}

.extra__number {
    font-size: xx-large;
    font-weight: 900;
}

.extra__right {
    font-size:large;
}

.info__left {
    text-align: right;
    line-height: 20px;
}

.header__bottom {
    display:flex;
}

.header__buttons {
    justify-content: left;
}

.bottom__button {
    justify-content: right;
}