.logo {
    display: flex;
    justify-content: space-between;

    &__img {
        width: 43px;
        height: 60px;
    }

    &__text {
        display: flex;
        text-align: center;
        font-weight: 900;
        font-size: 20px;
    }
}