.promo {
    justify-content: left;

    &__title {
        font-weight: 900;
        font-size: 29px;
        font-family: formular;
    }

    &__text {
        font-size: 15px;
    }

    &__img {
        transform: scale(-1,1);
        border-radius: 20px;
        width: 609px;
        height: 300px;
    }
}